*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #4B145B;
}

main{
    min-height: 100vh;
    .container{
        background-color: #fff;
        margin: 80px 40.594px;
        padding: 40px 32px;
        width: 90vw;
        max-width: 920px;
        border-radius: 0.25rem;

        h3{
            margin-bottom: 12px;
            font-size: 1.75rem;
            
        }
        .info{
            .question{
                border: 2px solid rgb(24, 23, 23);
                // background-color: #eae6eb;
                box-shadow: 0 5px 15px "${rgb(0 0 0 / 10%)}";
                margin-bottom: 1rem;
                padding: 16px 24px;
                header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h4{
                        letter-spacing: 1.2px;

                    }
                    button{
                        border: none;
                        font-size: 2rem;
                        background: transparent;
                        display: flex;
                        align-items: center;

                    }
                }
                p{

                }
            }
        }
    }

}





